<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Functional Testing" parallel="none">
	<listeners>
		<listener class-name="userDefinedLibraries.RetryListener" />
	</listeners>

	<test name="Smoke Test One">
		<groups>
			<run>
				<include name="Smoke Test One" />
			</run>
		</groups>
		<classes>
			<class name="testScenarios.TripAdvisorTestScenarios"></class>
			<class name="userDefinedLibraries.RetryFailedTestCases" />
		</classes>
	</test>
	
	<test name="Regression Test One">
		<groups>
			<run>
				<include name="Regression Test One" />
			</run>
		</groups>
		<classes>
			<class name="testScenarios.TripAdvisorTestScenarios"></class>
			<class name="userDefinedLibraries.RetryFailedTestCases" />
		</classes>
	</test>
	
	<test name="Smoke Test Two">
		<groups>
			<run>
				<include name="Smoke Test Two" />
			</run>
		</groups>
		<classes>
			<class name="testScenarios.TripAdvisorTestScenarios"></class>
			<class name="userDefinedLibraries.RetryFailedTestCases" />
		</classes>
	</test>
	
	<test name="Regression Test Two">
		<groups>
			<run>
				<include name="Regression Test Two" />
			</run>
		</groups>
		<classes>
			<class name="testScenarios.TripAdvisorTestScenarios"></class>
			<class name="userDefinedLibraries.RetryFailedTestCases" />
		</classes>
	</test>

</suite>